In [ ]:
# Implement a statistics calculator that takes a list of numbers in the file
# mydata.txt and then calculates and prints their mean, median, mode,
# variance, and standard deviation

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving mydata.txt to mydata (2).txt

In [ ]:
!cat mydata.txt

100
60
70
900
100
200
500
500
503
600
1000
1200

In [ ]:
# Find the sum of numbers stored in a file
def sum_data(filename):
 s = 0
 with open(filename) as f:
  for line in f:
    s = s + float(line)
  print('Sum of the numbers: {0}'.format(s))
if __name__ == '__main__':
 sum_data('mydata.txt')

Sum of the numbers: 5733.0

In [ ]:
# Find the mean of numbers stored in a file
def mean_data(filename):
 num_list =[]
 s = 0
 with open(filename) as f:
    for line in f:
      s = s + float(line)
      num_list.append(int(line.strip()))
      print(num_list)
    print('Sum of the numbers: {0}'.format(s))
    for index, item in enumerate(num_list):
      print(index, item)
    print(len(num_list))
    mean = s/len(num_list)
    print(mean)
    print('Mean of the numbers: {0}'.format(mean))
    
    
if __name__ == '__main__':
 mean_data('mydata.txt')

[100]
[100, 60]
[100, 60, 70]
[100, 60, 70, 900]
[100, 60, 70, 900, 100]
[100, 60, 70, 900, 100, 200]
[100, 60, 70, 900, 100, 200, 500]
[100, 60, 70, 900, 100, 200, 500, 500]
[100, 60, 70, 900, 100, 200, 500, 500, 503]
[100, 60, 70, 900, 100, 200, 500, 500, 503, 600]
[100, 60, 70, 900, 100, 200, 500, 500, 503, 600, 1000]
[100, 60, 70, 900, 100, 200, 500, 500, 503, 600, 1000, 1200]
Sum of the numbers: 5733.0
0 100
1 60
2 70
3 900
4 100
5 200
6 500
7 500
8 503
9 600
10 1000
11 1200
12
477.75
Mean of the numbers: 477.75

In [ ]:
# Find the median of numbers stored in a file
def median_data(filename):
 num_list =[]
 s = 0
 with open(filename) as f:
    for line in f:
      num_list.append(int(line.strip()))
    print(num_list)
   
    for index, item in enumerate(num_list):
      print(index, item)
      length_list = len(num_list)
    #print(len(num_list))

    if (length_list%2 != 0):
      print(length_list/2)
      i = int(length_list/2)
      median = int(num_list[i])
      print('Mean of the numbers: {0}'.format(median))
    else:
      print('hello')
      print(length_list/2)
      i = int(length_list/2)
      print(i)
      sum = num_list[i-1] + num_list[i]
      median = int(sum/2)
      print('Mean of the numbers: {0}'.format(median))
    
if __name__ == '__main__':
 median_data('mydata.txt')

[100, 60, 70, 900, 100, 200, 500, 500, 503, 600, 1000, 1200]
0 100
1 60
2 70
3 900
4 100
5 200
6 500
7 500
8 503
9 600
10 1000
11 1200
hello
6.0
6
Mean of the numbers: 350

In [ ]:
from collections import Counter


def mode_data(filename):
 num_list =[]
 s = 0
 with open(filename) as f:
    for line in f:
      num_list.append(int(line.strip()))
    print(num_list)
    c = Counter(num_list)
    print(c.most_common())
    print(c.most_common(1))
    print(c.most_common(2))
    mode_1 = c.most_common(1)
    mode = mode_1[0][0]
    print('Mode of the numbers: {0}'.format(mode))

if __name__ == '__main__':
 mode_data('mydata.txt')

[100, 60, 70, 900, 100, 200, 500, 500, 503, 600, 1000, 1200]
[(100, 2), (500, 2), (60, 1), (70, 1), (900, 1), (200, 1), (503, 1), (600, 1), (1000, 1), (1200, 1)]
[(100, 2)]
[(100, 2), (500, 2)]
Mode of the numbers: 100

In [ ]:
# Find the variance and standard deviation of numbers stored in a file
def std_variance(filename):
 num_list =[]
 squared_diff_list = []
 s = 0
 with open(filename) as f:
    for line in f:
      s = s + float(line)
      num_list.append(int(line.strip()))
      print(num_list)
      
    print('Sum of the numbers: {0}'.format(s))
    
    print(f'The length of string is: {len(num_list)}')
    mean = s/len(num_list)
    print(mean)
    print('Mean of the numbers: {0}'.format(mean))

    for index, item in enumerate(num_list):
      diff = num_list[index]-mean
      squared_diff = diff**2
      print(squared_diff)
      squared_diff_list.append(squared_diff)

    # Calculating Variance
    sum_squared_diff = sum(squared_diff_list)
    variance = sum_squared_diff/len(num_list)
    print('Variance of the numbers: {0}'.format(variance))

    # Calculating Standard Deviation
    std = variance**.5
    print('Standard Deviation of the numbers: {0}'.format(std))

if __name__ == '__main__':
 std_variance('mydata.txt')

[100]
[100, 60]
[100, 60, 70]
[100, 60, 70, 900]
[100, 60, 70, 900, 100]
[100, 60, 70, 900, 100, 200]
[100, 60, 70, 900, 100, 200, 500]
[100, 60, 70, 900, 100, 200, 500, 500]
[100, 60, 70, 900, 100, 200, 500, 500, 503]
[100, 60, 70, 900, 100, 200, 500, 500, 503, 600]
[100, 60, 70, 900, 100, 200, 500, 500, 503, 600, 1000]
[100, 60, 70, 900, 100, 200, 500, 500, 503, 600, 1000, 1200]
Sum of the numbers: 5733.0
The length of string is: 12
477.75
Mean of the numbers: 477.75
142695.0625
174515.0625
166260.0625
178295.0625
142695.0625
77145.0625
495.0625
495.0625
637.5625
14945.0625
272745.0625
521645.0625
Variance of the numbers: 141047.35416666666
Standard Deviation of the numbers: 375.5627166887931

In [ ]:
# Reading into Pandas dataframe using Pandas
import pandas as pd
import io

io.StringIO(uploaded["mydata.txt"].decode("utf-8"))

In [ ]:
df = pd.read_csv(io.StringIO(uploaded["mydata.txt"].decode("utf-8")))
df

    Score
0     100
1      60
2      70
3     900
4     100
5     200
6     500
7     500
8     503
9     600
10   1000
11   1200